PORT=5000
MONGO_URI=mongodb://localhost:27017/vistavoyage
JWT_SECRET=vistavoyage_super_secret_jwt_key_2024
JWT_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=dy3aqtatv
CLOUDINARY_API_KEY=135924881879727
CLOUDINARY_API_SECRET=2hYru073kB1enpNMsWfo9KoTNxc

OPENAI_API_KEY=your_openai_api_key

ADMIN_EMAIL=admin@vistavoyage.com
ADMIN_PASSWORD=Admin@123
